<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krismaaditya.vapy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="Vapy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="Login" />

        <activity
            android:name=".SignupActivity"
            android:label="Daftar" />

        <activity
            android:name=".ProfileActivity"
            android:label="Profil" />

        <activity
            android:name=".ChatsActivity"
            android:label="Chats" />

        <activity
            android:name=".ChatsActivity0"
            android:label="Chats" />

        <activity
            android:name=".AllUsersActivity"
            android:label="Users" />

        <activity
            android:name=".ChattingActivity"
            android:label="Chatting" />

        <activity
            android:name=".DiskusiActivity"
            android:label="Diskusi" />

        <activity
            android:name=".AddDiskusiActivity"
            android:label="Tambah Diskusi" />

        <activity
            android:name=".KomentarDiskusiActivity"
            android:label="Komentar" />
    </application>

</manifest>